@font-face{font-family:'Karla';font-style:normal;font-weight:400;font-display:swap;src:url('fonts/Karla-400.woff2') format('woff2');}
@font-face{font-family:'Karla';font-style:normal;font-weight:500;font-display:swap;src:url('fonts/Karla-500.woff2') format('woff2');}
@font-face{font-family:'Karla';font-style:normal;font-weight:700;font-display:swap;src:url('fonts/Karla-700.woff2') format('woff2');}
@font-face{font-family:'Literata';font-style:italic;font-weight:500;font-display:swap;src:url('fonts/Literata-500i.woff2') format('woff2');}
@font-face{font-family:'Literata';font-style:normal;font-weight:600;font-display:swap;src:url('fonts/Literata-600.woff2') format('woff2');}
@font-face{font-family:'Literata';font-style:normal;font-weight:700;font-display:swap;src:url('fonts/Literata-700.woff2') format('woff2');}
